<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="post" action="/show/<%= user.id %>?_method=PATCH" >
    <h1>edit user with mail : <%= user.email %></h1>
    <textarea name="username"><%= user.username %></textarea>
   <input type="password" name="password" placeholder="enter password">
    <button>submit</button>
    </form>
</body>
</html>