<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sql data</title>
</head>
<body>
    <h1>Total users : <%= count %></h1>
    <form method="get" action="/show"><button>Show All!</button></form>
</body>
</html>